.user-info {
  display: flex;
  align-items: center;
}
.score-wrapper {
  width: 60px;
  height: 60px;
  padding: 5px;
  margin-right: 15px;
  border-radius: 50%;
  position: relative;
}
.score-wrapper .score-point {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nickname {
  font-family: 'Pretendard-Bold';
  font-size: 18px;
}
.grade-name {
  display: flex;
  align-items: center;
  gap: 1px;
  color: #ff3855;
  font-size: 15px;
  line-height: 1rem;
}
.grade-name h3 {
  margin: 0;
  padding: 0;
}
