.user-info {
  display: flex;
  align-items: center;
}
.score-wrapper {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(#fff 0%, #fff 100%);
}
.nickname {
  font-family: 'Pretendard-Bold';
  font-size: 18px;
}
.grade-name {
  display: flex;
  align-items: center;
  gap: 1px;
  color: #ff3855;
  font-size: 15px;
  line-height: 1rem;
}
.grade-name h3 {
  margin: 0;
  padding: 0;
}
