.wrapper {
  background-color: #ff3855;
}
.wrapper .inner-wrapper {
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .inner-wrapper > div {
  width: 50%;
}

.wrapper .inner-wrapper h1 {
  font-family: 'Pretendard-Bold';
  color: #fff;
  font-size: 56px;
  word-break: keep-all;

  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.wrapper .inner-wrapper .img-box img {
  height: 584px;
  width: auto;
}
.btn-box button:first-child {
  margin-right: 10px;
}

@media (max-width: 1280px) {
  .wrapper .inner-wrapper {
    width: 844px;
  }
  .wrapper .inner-wrapper > div {
    width: 408px;
    padding-left: 28px;
  }
  .wrapper .inner-wrapper .img-box img {
    height: 408px;
    width: auto;
  }
}
@media (max-width: 844px) {
  .wrapper .inner-wrapper .img-box {
    display: none;
  }
}
@media (max-width: 844px) {
  .wrapper .inner-wrapper > div {
    padding-left: 0;
    padding-bottom: 44px;
  }
}
@media (max-width: 1280px) {
  .wrapper .inner-wrapper > div {
    width: 408px;
    padding-left: 28px;
  }
}
