.layout-main {
  margin-top: 80px;
  display: block;
}

.layout-wrap {
  margin: 32px auto;
}

@media (max-width: 1280px) {
  .layout-wrap {
    width: 844px;
  }
}

@media (max-width: 844px) {
  .layout-wrap {
    width: calc(100% - 40px);
  }
}
