.header {
  width: 100%;
  height: 80px;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 3;
  background-color: #ff3855;
  transition: 0.5s ease;
}
.header-content {
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
}

/* 화면 너비 줄어들었을 경우 처리 */
.navbar-button {
  display: none;
}
.navbar-button button {
  font-size: 25px;
  color: #fff;
  z-index: 1;
}

@media (max-width: 1280px) {
  .header-content {
    width: 844px;
  }
}
@media (max-width: 844px) {
  .header-content {
    width: calc(100% - 40px);
  }
  .header,
  .header-content {
    justify-content: space-between;
  }

  .navbar-button {
    display: flex;
    margin-left: auto;
    cursor: pointer;
  }
  .navbar-button button {
    color: black;
  }
}
