.product-page {
  width: 100%;
  margin: 32px auto;
}

.product-list {
  width: 100%;
  text-align: left;
  margin-top: 32px;
}

.no-items {
  width: 100%;
  height: 320px;
  margin-top: 23px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #efefef;
  border-radius: 10px;
  font-size: 21px;
  font-family: 'Pretendard-SemiBold';
}

.no-items .keyword {
  color: #ff3855;
}

@media (min-width: 1280px) {
  .product-page {
    width: 1280px;
  }

  .product-list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px;
    padding-left: 0;
  }
}

@media (max-width: 1280px) {
  .product-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
  }
}

@media (max-width: 844px) {
  .product-list {
    display: grid;
    grid-template-columns: 100%;
  }

  .product-wrap,
  .product-wrap.detail {
    width: 100%;
  }
}
