.rental-wrapper {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 57px;
  column-gap: 15px;
  row-gap: 0;
  box-sizing: border-box;
}
.rental-wrapper .rental-button {
  width: 100%;
  height: 57px;
  margin: 0 !important;
}

@media (max-width: 844px) {
  .rental-wrapper {
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    column-gap: 0;
    row-gap: 10px;
  }
}
